<a href="https://colab.research.google.com/github/parkchanhui1216/2024.DB/blob/main/dbproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('project.db')
print("Opened database successfully")

Opened database successfully

In [3]:
cursor_obj = conn.cursor()

In [4]:
cursor_obj.execute("DROP table if exists customer")

In [6]:
table = """ CREATE TABLE IF NOT EXISTS customer(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), PHONE VARCHAR(20), POINT VARCHAR(20), SELL_PRODUCT VARCHAR(20));"""

cursor_obj.execute(table)
print("Table is ready")

Table is ready

In [8]:
cursor_obj.execute('''insert into customer values(01, 'Chanhee', 'Park', '01046627297', '0점','한정판 패딩')''')

In [9]:
cursor_obj.execute('''insert into customer values(02, '길동', '홍', '01015487412', '0점','사인 야구 배트')''')
cursor_obj.execute('''insert into customer values(03, '심청', '김', '01062589457', '120점','동전')''')
cursor_obj.execute('''insert into customer values(04, '흥부', '박', '01048475197', '5000점','한정판 옷')''')

In [10]:
name_to_search = '길동'
cursor_obj.execute("SELECT * FROM customer WHERE fname = ?", (name_to_search,))
rows = cursor_obj.fetchall()
for row in rows:
    print(row)

(2, '길동', '홍', '01015487412', '0점', '사인 야구 배트')

In [11]:
cursor_obj.execute("DELETE FROM customer WHERE ID = '03'")

In [12]:
statement = '''Select * from customer'''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
(1, 'Chanhee', 'Park', '01046627297', '0점', '한정판 패딩')
(2, '길동', '홍', '01015487412', '0점', '사인 야구 배트')
(4, '흥부', '박', '01048475197', '5000점', '한정판 옷')

In [34]:
table = """ CREATE TABLE IF NOT EXISTS product (Pname varchar(20),SellerID integer , Sprice varchar(20), Iprice varchar(20));"""

cursor_obj.execute(table)
print("Table is ready")

Table is ready

In [27]:
cursor_obj.execute('''insert into product values('한정판 패딩', 01, '500,000만원', '2,500,000만원')''')
cursor_obj.execute('''insert into product values('사인 야구 배트', 02, '250,000만원', '500,000만원')''')
cursor_obj.execute('''insert into product values('한정판 옷', 04, '150,000만원', '1,000,000만원')''')

In [37]:
name_to_search = '한정판 패딩'
cursor_obj.execute("SELECT * FROM product WHERE Pname = ?", (name_to_search,))
rows = cursor_obj.fetchall()
for row in rows:
    print(row)

('한정판 패딩', '1', '500,000만원', '2,500,000만원')
('한정판 패딩', '1', '500,000만원', '2,500,000만원')
('한정판 패딩', '1', '500,000만원', '2,500,000만원')

In [38]:
cursor_obj.execute("DELETE FROM product WHERE pname = '한정판 패딩'")

In [39]:
statement = '''Select * from product'''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
('사인 야구 배트', '2', '250,000만원', '500,000만원')
('한정판 옷', '4', '150,000만원', '1,000,000만원')
('사인 야구 배트', '2', '250,000만원', '500,000만원')
('한정판 옷', '4', '150,000만원', '1,000,000만원')
('사인 야구 배트', '2', '250,000만원', '500,000만원')
('한정판 옷', '4', '150,000만원', '1,000,000만원')