<a href="https://colab.research.google.com/github/parkchanhui1216/2024.DB/blob/main/db%EA%B0%9C%EC%9D%B8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('project.db')
print("Opened database successfully")

Opened database successfully

In [3]:
cursor_obj = conn.cursor()

In [16]:
cursor_obj.execute("DROP table if exists project")

In [17]:
table = """ CREATE TABLE IF NOT EXISTS project(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), PHONE VARCHAR(20), POINT VARCHAR(20));"""

cursor_obj.execute(table)
print("Table is ready")

Table is ready

In [18]:
cursor_obj.execute('''insert into project values(01, 'Chanhee', 'Park', '01046627297', '0점')''')

In [19]:
cursor_obj.execute('''insert into project values(02, 'Seungmin', 'Lee', '01012341232', '20점')''')

In [21]:
cursor_obj.execute("DROP table if exists 'ORDER'")

In [22]:
desk = """ CREATE TABLE IF NOT EXISTS 'order'(Pname varchar(20), Price varchar(20), location varchar(5));"""

cursor_obj.execute(desk)

print("Table is ready")

Table is ready

In [23]:
cursor_obj.execute('''insert into 'order' values('찹쌀호떡믹스', '4500원', 'H구역')''')

In [24]:
cursor_obj.execute('''insert into 'order' values('다이슨 청소기', '500,000원', 'E구역')''')

In [25]:
statement = '''Select * from project'''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
(1, 'Chanhee', 'Park', '01046627297', '0점')
(2, 'Seungmin', 'Lee', '01012341232', '20점')

In [26]:
statement = '''Select * from 'order' '''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
('찹쌀호떡믹스', '4500원', 'H구역')
('다이슨 청소기', '500,000원', 'E구역')

In [27]:
#새로운 고객 추가
cursor_obj.execute('''insert into project values(03, 'sangmyung', 'Blue', '01012341232', '40점')''')

In [31]:
name_to_search = 'Chanhee'
cursor_obj.execute("SELECT * FROM project WHERE fname = ?", (name_to_search,))
rows = cursor_obj.fetchall()
for row in rows:
    print(row)

(1, 'Chanhee', 'Park', '01046627297', '0점')

In [32]:
cursor_obj.execute("DELETE FROM project WHERE ID = 2")

In [33]:
name_to_search = '다이슨 청소기'
cursor_obj.execute("SELECT * FROM 'order' WHERE pname = ?", (name_to_search,))
rows = cursor_obj.fetchall()
for row in rows:
    print(row)

('다이슨 청소기', '500,000원', 'E구역')

In [34]:
cursor_obj.execute("DELETE FROM 'order' WHERE Pname = '다이슨 청소기'")

In [35]:
statement = '''Select * from project'''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
(1, 'Chanhee', 'Park', '01046627297', '0점')
(3, 'sangmyung', 'Blue', '01012341232', '40점')

In [36]:
statement = '''Select * from 'order' '''
cursor_obj.execute(statement)

print("All the data")
output = cursor_obj.fetchall()
for row in output:
    print(row)

All the data
('찹쌀호떡믹스', '4500원', 'H구역')